footer{
    text-align: center;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    position: relative;
    top: 20px;
    left: -20px;
    transition: border-radius all 4500ms;
    }

footer:hover{
    border-radius: 50%;
}   
a{
    text-decoration: none;
}

img{
    
    top: 0;
}

img.chat{
    width: 100px;
    position: fixed;
    right: 0;
    bottom: 10px;
}

header{
    border: 2px solid black;
    padding-inline-end: 20px;
}
